{% extends "base.html" %}

{% block content %}
<h2>Detalle del Ticket: {{ object.title }}</h2>

<ul>
    <li><strong>Descripción:</strong> {{ object.description }}</li>
    <li><strong>Criticidad:</strong> {{ object.criticy }}</li>
    <li><strong>Técnico:</strong> {{ object.tech.name }} {{ object.tech.last_name }}</li>
    <li><strong>Fecha de Creación:</strong> {{ object.created_at }}</li>
    <li><strong>Última Actualización:</strong> {{ object.updated_at }}</li>
</ul>

<a href="{% url 'ticket_edit' object.id %}" class="btn btn-warning">Editar</a>
<a href="{% url 'ticket_confirm_delete' object.id %}" class="btn btn-danger">Eliminar</a>
<a href="{% url 'ticket_list' %}" class="btn btn-secondary">Regresar</a>
{% endblock %}