{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>        
    </thead>
    <tbody>
        {% for speciality in object_list %}
        <tr>
            <td>{{ speciality.name }}</td>
           
            <td>
                <a class="btn btn-danger" href="{% url 'speciality_confirm_delete' speciality.id %}"><i class="bi bi-x-circle"></i>Eliminar</a>
                <a class="btn btn-warning" href="{% url 'speciality_edit' speciality.id %}"><i class="bi bi-pencil-square"></i>Editar</a>
            </td>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}