{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Especialidades</th>
        </tr>        
    </thead>
    <tbody>
        {% for tech in object_list %}
        <tr>
            <td>{{ tech.name }}</td>
            <td>{{ tech.last_name }}</td>
           
            <td> {% for t in tech.speciality.all %}<i class="bi bi-book"></i>{{ t.name }}{% endfor %}</td>
            
            <td>
    
                <a class="btn btn-danger" href="{% url 'tech_confirm_delete' tech.id %}"><i class="bi bi-x-circle"></i>Eliminar</a>
                <a class="btn btn-warning" href="{% url 'tech_edit' tech.id %}"><i class="bi bi-pencil-square"></i>Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}